<div class="container">
   
  <div class="comments">
      
        {{#each this}}
        
        <section class="comment p-2">
            <br>
          <div class="blockquote mb-4" >
            {{comment_text}}
          </div>
        
          <div class="blockquote-footer">
           commented by {{user.email}} on {{format_date created_at}}
          </div>
              
        
        </section>
        {{/each}}
      
  </div>
</div>
