{{!-- <div class="container">
  <form class="login-form">
   
     
        <div class="d-flex flex-column">
          <div class="form-group p-4">
            <label for="email-login">email:</label>
            <input type="text" id="email-login" />
          </div>
          <div class="form-group p-4">
            <label for="password-login">password:</label>
            <input type="password" id="password-login" />
          </div>
          <div class="form-group p-4">
            <button type="submit" class="btn btn-primary">login</button>
          </div>
        </div>
   
  
  </form> --}}

<div class="w-full max-w-xs">
  <form class="login-form bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
        Username
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="email-login" type="text" placeholder="Username">
    </div>
    <div class="mb-6">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
        Password
      </label>
      <input class="shadow appearance-none border border-red-500 rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="password-login" type="password" placeholder="******************">
      <p class="text-red-500 text-xs italic">Please choose a password.</p>
    </div>
    <div class="flex items-center justify-between">
      <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
        Sign In
      </button>
      <a class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800" href="#">
        Forgot Password?
      </a>
    </div>
  </form>
  
</div>
  
  <form class="signup-form">
    
    
      <div class="d-flex flex-column">
        <div class="form-group p-4">
          <label for="email-signup">email:</label>
          <input type="text" id="email-signup" />
        </div>
        <div class="form-group p-4">
          <label for="password-signup">password:</label>
          <input type="password" id="password-signup" />
        </div>
        <div class="form-group p-4">
          <button type="submit" class="btn btn-primary">signup</button>
        </div>
      </div>
      
  </form>
</div>

<script src="/javascript/login.js"></script>